<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blogs</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{{ url_for('static', filename='vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href= " {{ url_for('static', filename='css/clean-blog.min.css') }}" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
<!--        <a class="navbar-brand" href="/">flight</a>-->
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('http://source.unsplash.com/900x400/?flight, blogs')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <h1> Problems look mighty small from 150 miles up</h1>
<!--              <h2 class="subheading">Problems look mighty small from 150 miles up</h2>-->
<!--              <span class="meta"> by Al Gore-->
<!--                <a href="#">Start Bootstrap</a>-->
<!--                </span>-->
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Post Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
              <h2 class="subheading">latest news</h2>

            <p > Hydrogen powertrain developer ZeroAvia has secured an additional $37.7 million in investment – including backing from funds created by Bill Gates and Jeff Bezos, alongside a commitment from the UK <a href="https://www.flightglobal.com/aerospace/zeroavia-nets-nearly-40m-of-new-funding-including-more-uk-government-backing/141658.article"> .....</a> </p>

<a> Air travel during the Thanksgiving holidays can be stressful under normal circumstances, but in 2020 there are new travel protocols in place ....</a>
<!--            <p>What was most significant about the lunar voyage was not that man set foot on the Moon but that they set eye on the earth.</p>-->

<!--            <p>A Chinese tale tells of some men sent to harm a young girl who, upon seeing her beauty, become her protectors rather than her violators. That's how I felt seeing the Earth for the first time. I could not help but love and cherish her.</p>-->

<!--            <p>For those who have seen the Earth from space, and for the hundreds and perhaps thousands more who will, the experience most certainly changes your perspective. The things that we share in our world are far more valuable than those which divide us.</p>-->

<!--            <h2 class="section-heading">The Final Frontier</h2>-->
            <h2 class="section-heading">The Final Frontier</h2>
                   <p>Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds, to seek out new life and new civilizations, to boldly go where no man has gone before.</p>


            <h2 class="section-heading">Reaching for the Stars</h2>

            <p>As we got further and further away, it [the Earth] diminished in size. Finally it shrank to the size of a marble, the most beautiful you can imagine. That beautiful, warm, living object looked so fragile, so delicate, that if you touched it with a finger it would crumble and fall apart. Seeing this has to change a man.</p>

<!--            <p>Placeholder text by-->
<!--              <a href="http://spaceipsum.com/">Space Ipsum</a>. Photographs by-->
<!--              <a href="https://www.flickr.com/photos/nasacommons/">NASA on The Commons</a>.</p>-->
          </div>
        </div>
      </div>
    </article>

    <hr>

    <!-- Footer -->
<!--    <footer>-->
<!--      <div class="container">-->
<!--        <div class="row">-->
<!--          <div class="col-lg-8 col-md-10 mx-auto">-->
<!--            <ul class="list-inline text-center">-->
<!--              <li class="list-inline-item">-->
<!--                <a href="#">-->
<!--                  <span class="fa-stack fa-lg">-->
<!--                    <i class="fa fa-circle fa-stack-2x"></i>-->
<!--                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>-->
<!--                  </span>-->
<!--                </a>-->
<!--              </li>-->
<!--              <li class="list-inline-item">-->
<!--                <a href="#">-->
<!--                  <span class="fa-stack fa-lg">-->
<!--                    <i class="fa fa-circle fa-stack-2x"></i>-->
<!--                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>-->
<!--                  </span>-->
<!--                </a>-->
<!--              </li>-->
<!--              <li class="list-inline-item">-->
<!--                <a href="#">-->
<!--                  <span class="fa-stack fa-lg">-->
<!--                    <i class="fa fa-circle fa-stack-2x"></i>-->
<!--                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>-->
<!--                  </span>-->
<!--                </a>-->
<!--              </li>-->
<!--            </ul>-->
<!--&lt;!&ndash;            <p class="copyright text-muted">Copyright © Your Website 2018</p>&ndash;&gt;-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </footer>-->

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/clean-blog.min.js"></script>

  </body>

</html>


